.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color: white;
    width: 72px;
    z-index: 200;
}

.sidebar-link{
    
    height: 85px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sidebar-link:hover{
    background-color: lightgray;
}

.sidebar-link img{
    height: 26px;
   
}

.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
    margin-top: 10px;
}

